.line-display-container {
  margin: auto;
  width: 50%;
}

.line-container {
  margin: 20px;
  width: 360px;
  height: 120px;
}

.line-character-name {
  margin-top: 20px;
}

.inline-block {
  display: inline-block;
}